In [1]:
# import needed libraries
import pandas as pd
import numpy as np
import re
import gzip
%matplotlib inline

import matplotlib.pyplot as plt
import scipy.stats as stats

data_path = './Data/MovieSummaries/'

In [30]:
# import the movie metadata
filename = 'movie.metadata.tsv'
df_mov = pd.read_csv(data_path + filename, sep='\t', header=None)
df_mov = df_mov.rename(columns={0: "Wikipedia movie ID", 1: "Freebase movie ID", 2: "Movie name", 3: "Movie release date", 4: "Movie box office revenue", 5: "Movie runtime", 6: "Movie languages (Freebase ID:name tuples)", 7: "Movie countries (Freebase ID:name tuples)", 8: "Movie genres (Freebase ID:name tuples)"})
df_mov.head()

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages (Freebase ID:name tuples),Movie countries (Freebase ID:name tuples),Movie genres (Freebase ID:name tuples)
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"

In [31]:
# import the character metadata
filename = 'character.metadata.tsv'
df_char = pd.read_csv(data_path + filename, sep='\t', header=None)
df_char = df_char.rename(columns={0: "Wikipedia movie ID", 1: "Freebase movie ID", 2: "Movie release date", 3: "Character name", 4: "Actor date of birth", 5: "Actor gender", 6: "Actor height (in meters)", 7: "Actor ethnicity (Freebase ID)", 8: "Actor name", 9: "Actor age at movie release", 10: "Freebase character/actor map ID", 11: "Freebase character ID", 12: "Freebase actor ID"})
df_char.head()

,Wikipedia movie ID,Freebase movie ID,Movie release date,Character name,Actor date of birth,Actor gender,Actor height (in meters),Actor ethnicity (Freebase ID),Actor name,Actor age at movie release,Freebase character/actor map ID,Freebase character ID,Freebase actor ID
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4
2,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l
3,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,/m/0bgchnq,/m/034hyc
4,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,/m/0bgchp9,/m/01y9xg

In [37]:
# import the plot summary into a list
filename = 'plot_summaries.txt'
with open(data_path + filename, encoding='ISO-8859-1') as file:
    plot = [line.rstrip() for line in file]

# print the first plot summary
plot[0]

"23890098\tShlykov, a hard-working taxi driver and Lyosha, a saxophonist, develop a bizarre love-hate relationship, and despite their prejudices, realize they aren't so different after all."